<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunar drive</title>
</head>
<body>
    <header>
        <div>
            <h1>Lunar Drive</h1>
        </div>
        <div>
            <p>Hello user |</p>
            <a>Home</a>
            <p>Log out</p>
        </div>
    </header>
    <section>
        <div class="libraryContainer">
            <div class="libraryDiv">
                <p>My Library</p>
                <div>
                    <% if(route === null) { %>
                        <a href="/drive/newFolder">New Folder1</a>
                    <%} %>
                    <% if(route != null) { %>
                        <a href="/drive/newFolder/<%=route%>">New Folder2</a>
                    <% } %>
                    <a href="/upload-file">Upload file</a>
                </div>
            </div>
            <ul class="library">
                <% for(let i = 0;i < folders.length;i++){ %>
                    <li>
                        <a href="/drive/<%= folders[i].id%>"><%=folders[i].name%></a>
                    </li>
                    <%}%>
            </ul>
        </div>
    </section>
</body>
</html>