body{
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

h1{
    margin-left: 25px;
}

.navBox{
    display: flex;
    margin-right: 50px;
    gap: 30px;
    align-items: center;
    font-size: 1.2rem;
}

section{
    flex: 1;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    height: 100%;
}

.folderBox{
    flex-basis: 100px;
    border-right: 1px solid black;
}

.filesBox{

}